{% extends 'base.html' %}
{% block content %}

<h4>Add Income</h4>

<form method="post" class="card p-4 shadow-sm">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">Source</label>
        <input type="text" name="title" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Amount</label>
        <input type="number" name="amount" class="form-control" required>
    </div>

    <button class="btn btn-success">Save Income</button>
</form>

{% endblock %}
